.cell_list {
  width: 25rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
}

.cell_list h1 {
  margin-bottom: 3rem;

  color: #2973b2;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.cell_item {
  padding: 1rem;
  margin: 0.2rem;

  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;

  display: flex;
  justify-content: space-around;

  border: 0.1rem solid transparent;
  border-radius: 0.5rem;

  cursor: pointer;
}

.active {
  border: 0.1rem solid #2973b2;
}
